.card-header {
  text-align: center;
  font-size: 1.6em;
  min-height: 60px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 150px;
}

.card-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

